body {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #4b0082;
  font-family: arial, sans-serif;
}
#navbar {
  height: 10vh;
  width: 100%;
}
#welcome {
  text-align: center;
  margin-top: 100px;
}
.btnPurple {
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 10px;
  background-color: #da70d6;
  color: white;
  font-size: 16px;
}
.btnGray {
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
  color: #5f6368;
  font-size: 16px;
}
.float-left {
  float: left;
  margin: 20px;
  font-size: 25px;
}
.float-right {
  float: right;
  margin: 20px;
}
#scoreboard {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
#content {
  margin-top: 120px;
  text-align: center;
}
a {
  text-decoration: none;
}
#resultComputer {
  font-size: 20px;
}
#resultYou {
  font-size: 20px;
}

.green-youwin-theme {
  background-color: green;
}
.red-compwin-theme {
  background-color: red;
}
.blue-tie-theme {
  background-color: blue;
}
